body {
    background-image:linear-gradient(rgba(10, 8, 8, 0.452),rgba(10, 8, 8, 0.452)), url("https://i.pinimg.com/originals/7c/04/ed/7c04edeb5c9c1721631d288bb3608d5a.jpg");
    background-size: cover;
    background-position: center;
    max-height: 100vh;
    width: 100%;
}
.container
{
    margin-top:219px;
    max-width: 782px;
        opacity: 0.7;
    
}
.jumbotron
{
    background-color: darkgrey;;
}
#donate_form
{
    padding-left: 246px;
}

@media screen and (min-device-width: 121px) and (max-device-width: 621px){
    #donate_form
{
    padding-left: 10px;
}
}
.change1 {
  animation: changetext 1s infinite;
}
@keyframes changetext {
  0% {
    color: red;
  }
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
}